*.dart linguist-detectable=true
*.c++ linguist-detectable=false
*.java linguist-detectable=false
*.dart text

*.dart linguist-language=Dart
*.dart linguist-detectable=true
android/* linguist-vendored
build/* linguist-vendored

